/* ===== Fonts ===== */
@font-face {
    font-family: 'Segoe UI';
    font-weight: 500;
    src: url('../fonts/segoe_ui.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/segoe_ui.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/segoe_ui.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/segoe_ui.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/segoe_ui.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/segoe_ui.svg#segoe_ui') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 700;
    src: url('../fonts/segoe_ui_gras.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/segoe_ui_gras.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/segoe_ui_gras.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/segoe_ui_gras.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/segoe_ui_gras.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/segoe_ui_gras.svg#segoe_ui_gras') format('svg');
    /* Chrome < 4, Legacy iOS */
}


@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    src: url('../fonts/segoe_ui_semibold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/segoe_ui_semibold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/segoe_ui_semibold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/segoe_ui_semibold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/segoe_ui_semibold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/segoe_ui_semibold.svg#segoe_ui_semibold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    src: url('../fonts/oswald_bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/oswald_bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/oswald_bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oswald_bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/oswald_bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oswald_bold.svg#oswald_bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url('../fonts/oswald_demibold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/oswald_demibold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/oswald_demibold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oswald_demibold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/oswald_demibold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oswald_demibold.svg#oswald_demibold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    src: url('../fonts/oswald_regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/oswald_regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/oswald_regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oswald_regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/oswald_regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oswald_regular.svg#oswald_regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}

/* ===== Reset ===== */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

a,
button,
input,
textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}
a:hover{
    color: inherit;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

button {
    display: block;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input,
textarea {
    background-color: transparent;
    border: none;
}

/* ===== Root ===== */

:root {
    --index: calc(1vh + 1vw);
    --grey:#EEF0F6;
    --bg-color: rgba(238, 240, 246, 1);
    --main-color: #172238;
    --black: #111E31;
    --white: rgba(255, 255, 255, 1);
    --transp: rgba(255, 255, 255, 0);
    --transp-h: rgba(255, 255, 255, 0.1);
    --bg: rgba(21, 32, 53, 0.9);
    --stroke: #3D4B66;
    --accent: rgba(164, 11, 11, 1);
    --accent-h: rgba(164, 11, 11, 0.7);

}


/* ===== General ===== */
body{
    font-family: 'Segoe UI';
    font-weight: 400;
    color: var(--white);
    background-color: var(--bg-color);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald';
}
h1{
    font-size: clamp(36px, 8.6vw, 100px);
    text-transform: uppercase;
    font-weight: 600;
}
h1 span{
    display: block;
    font-size: clamp(36px, 8.6vw, 77px);
}
h2{
    font-size: clamp(25px, 5.2vw, 50px) ;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 60px;
}
.light{
    color: var(--black);
}
h3{
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 600;
}
h4{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
}
h5{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
}
p{
    margin: 0;
    padding: 0;
}
@media (max-width:960px) {
    h1{
        margin-top: 70px;
    }
    h1 span{
        display: inline-block;
        margin-left: 20px;
    }
    h4 {
       font-size: 24px;
    }
    
}
.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.flex-b-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-s-c {
    display: flex;
    justify-content: start;
    align-items: center;
}


.btn-fill{
    max-height: 55px;
    display: inline-block;
    padding: 16px 64px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--accent);
    transition: all 0.3s;
}
.btn-fill:hover{
    background-color: var(--accent-h);
}
.btn-stroke{
    max-height: 55px;
    display: inline-block;
    padding: 16px 47px;
    border-radius: 5px;
    border: 1px solid var(--white);
    font-weight: 600;
    background-color: var(--transp);
    transition: all 0.3s;
}
.btn-stroke:hover{
    background-color: var(--transp-h);
}

.main__title{
    font-family: 'Oswald';
    font-weight: 600;
    font-size: clamp(25px, 4.37vw, 60px);
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
}
.main__text{
    font-size: clamp(14px, 2.2vw, 30px);
    line-height: 130%;
    text-align: center;
    margin-top: 40px;
}
section{
    padding:0;
    padding: clamp(70px, 6.2vw, 120px) 0;

}
.menu-item-has-children{
    padding-right: 10px;
    position: relative;
}
.menu-item-has-children::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-image: url(../img/icons/submenu.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.menu-item-has-children .sub-menu{
    display: block;
    position: absolute;
    top: 100px;
    left: -10px;
    width: 130%;
    padding: 40px 10px 10px;
    opacity: 0;
    background-color: var(--main-color);
    transition: all 0.3s;
    z-index: 10;
    pointer-events: none;
}
.menu-item-has-children .sub-menu li{
    display: block;
    padding-bottom: 15px;
}
.menu-item-has-children:hover .sub-menu{
    pointer-events: painted;
    top: 100%;
    opacity: 1;
}
@media (max-width:780px) {
    .btn-fill{
        padding: 16px;
        width: 100%;
        text-align: center;
    }
}
@media (max-width:760px) {
    .partners__expert--img{
        padding: 0;
    }
}
/* ===== Header ===== */
.menu{
    display: none;
}
header {
    position: relative;
    background: var(--main-color);
    padding: 17px 0;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    z-index: 300;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.header img {
    max-width: 130px;
    height: auto;
    object-fit: cover;
}

.header__contacts li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid var(--stroke);
    border-radius: 5px;
    background: transparent;
    transition: all 0.3s;
}
.header__contacts li:hover{
    background: rgba(61, 75, 102, 0.5)
}

.header a:not(.header__logo){
    position: relative;
    opacity: 1;
    padding-bottom: 5px;
}
.header a::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background: var(--white);
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}
.current-menu-item a::before{
    opacity: 0.8;
    width: 100%;
} 
.header a:hover::before{
    opacity: 0.8;
    width: 100%;
}

@media (max-width:1058px) {
    ul.header__menu{
        display: none;
        visibility: hidden;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .header__contacts{
        margin-left: auto;
        margin-right: 20px;
    }
    
}
@media (max-width:520px) {
    .header ul{
        gap: 5px;
    }
    .header__contacts a{
        font-size: 10px;
    }
    .header img {
        max-width: 30px;
        height: auto;
        object-fit: cover;
    }
}
/* ===== Main ===== */



.main {
    background: linear-gradient(0deg, rgba(21, 32, 53, 0.90) 0%, rgba(21, 32, 53, 0.90) 100%), url(../img/bg-main.jpg);
    padding-top: 45px;
    padding-bottom: 0;
}
.main__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__offer {
    max-width: 450px;
}
.main__offer p {
    margin: 40px 0 45px;
}
.main__img{
    position: relative;
    max-width: 600px;
    background-image: url(../img/oval.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1 1;
}
.main__info{
    position: absolute;
    padding: 15px 15px 20px 15px;
    max-width: 290px;
    background-color: var(--white);
    color: var(--black);
    left: 40px;
    bottom: 50px;
    border-radius: 5px;
    font-size: 12px;
}
.main__info--title{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--accent);
}

@media (max-width:990px) {
    .main__wrapper{
        text-align: center;
        flex-direction: column;
    }
    .main__offer{
        max-width: 100%;
    }
    .main__offer p{
        max-width: 90%;
        margin: 20px auto;
    }
    .main__img{
        width: 70%;
        margin: 20px 0 200px;
    }
    .main__img img{
        max-width: 50vw;
    }
    .main__info{
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        width:290px;
    }
    .main__btns{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
}
/* ===== Ivents ===== */
.ivents H2{
    color: var(--black);
}
.ivents__item{
height: 100%;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
border-radius: 10px;
background: linear-gradient(180deg, #152035 60%, rgba(21, 32, 53, 0.00) 100%);
margin-top: 20px;
}
.ivents__item img{
    margin-top: auto;
    margin-bottom: 0;
}

.ivents__item--info{
    padding: 40px 45px 0;
    text-align: center;
}
.ivents__item--info p {
    margin: 20px 0 26px;
}
.ivents__item img{
    position: relative;
    width: 100%;
    max-height: 245px;
    object-fit: cover;
    z-index: -1;
}

/* ===== Partners ===== */

.partners{
    background: linear-gradient(0deg, rgba(21, 32, 53, 0.90) 0%, rgba(21, 32, 53, 0.90) 100%), url(../img/bg-main.jpg);

}

.partners__row{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--white);
    margin: 0 0 40px 0;
}
.partners__row:nth-child(2n){
    flex-direction: row-reverse;
}
.partners__img{
    position: relative;
    padding: 0;
}
.partners__row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.partners__img::after{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(17, 30, 49, 0.4) 0%, rgba(17, 30, 49, 0.40) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0.4s;
}
.partners__row:hover > .partners__img::after {
    bottom: 100%;
}
.partners__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 40px;
}
.partners__expert{
    margin: 0;
}
.partners__expert--img, .partners__expert--info {
    border-radius: 10px;
    overflow: hidden;
    padding-right: 0;
}
.partners__expert--info{
    position: relative;
    background-color: var(--grey);
    color: var(--black);
    padding: 40px 90px 40px 40px;
}
.partners__expert--decor{
    position: absolute;
    top: 0;
    right: 80px;
}

.partners__expert--item{
    gap: 20px;
}

.partners__expert--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



.partners__expert--img{
    position: relative;
}
.partners__expert--img::after{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(17, 30, 49, 0.4) 0%, rgba(17, 30, 49, 0.40) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0.4s;
}
.partners__expert:hover .partners__expert--img::after {
    top: 100%;
}

/* ===== Testimonial ===== */

.testimonial{
    color: var(--black);

}
.testimonial__slider{
    overflow: hidden;
}
.testimonial__item img{
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}
.testimonial__item a{
    position: relative;
    border-radius: 10px;
    min-width: 0;
}
.testimonial__item a::after{
    position: absolute;
    content:'';
    background-image: url('../img/icons/play.svg');
    width: 90px;
    height: 62px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testimonial__btns{
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-bottom: 20px;
}
.testimonial__btn{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent);
    padding: 15px;
}

/* ===== Docs ===== */
.docs{
    background: linear-gradient(0deg, rgba(21, 32, 53, 0.90) 0%, rgba(21, 32, 53, 0.90) 100%), url(../img/bg-main.jpg);
}

.docs__download--item, .docs__video--item{
    text-align: center;
    border: 1px solid var(--white);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.0);
    transition: all 0.4s;
}
.docs__download--item h5, .docs__video--item h5{
    padding: 0 25px;
}
.docs__download--item:hover, .docs__video--item:hover{
    background-color: rgba(255, 255, 255, 0.1);

}
.docs__video{
    margin-top: 35px;
}
.docs__download--item{
    padding-bottom: 30px;
}
.docs__download--item img{
    margin-bottom: 10px;
}
.docs__video--item{
    padding: 30px;
}
.docs__video--img{
    position: relative;
    display: inline-block;
    width: 270px;
    height: 150px;
    flex: 0 0;
    margin-bottom: 23px;
}
.docs__video--img::before{
    position: absolute;
    content:'';
    background-image: url('../img/icons/play.svg');
    width: 90px;
    height: 62px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.docs__video--img::after{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(17, 30, 49, 0.4) 0%, rgba(17, 30, 49, 0.40) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0.4s;
}

/* ===== News ===== */

.news{
    color: var(--black);
}


.news__slider--item{
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--black);
    border-radius: 10px;
    overflow: hidden;
}
.news__slider--item:not(:nth-last-child(1)){
    margin-right: 20px;
}
.news__slider--info{
    padding: 30px;
}
.news__slider--info a{
    color: var(--accent);
    letter-spacing: 1px;
    transition: all 0.3s;
}
.news__slider--info a:hover{
    letter-spacing: 2px;
}
.news__btns{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 140px;
}

/* ===== Footer ===== */

.footer{
    background: linear-gradient(0deg, rgba(21, 32, 53, 0.90) 0%, rgba(21, 32, 53, 0.90) 100%), url(../img/bg-main.jpg);
    padding: 120px 0 60px;
}

.footer__contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.footer__contact--item{
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 13px 20px;
    background: var(--transp-h);
}
.footer a{
    position: relative;
    padding-bottom: 5px;
    margin-left: 10px;
}
.footer a::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background: var(--white);
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}
.footer a:hover::before{
    opacity: 0.8;
    width: 100%;
}

.footer__form{
    border-radius: 10px;
    background-color: var(--grey);
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--black);

}
.footer__form--title{
    font-weight: 600;
    margin-bottom: 20px;
}
.footer__form--quant{
    font-size: 12px;
    opacity: 0.7;
    margin-top: 10px;
}
.footer__form form{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.footer__form form input{
    border-radius: 5px;
}
.footer__form form input[type='text']{
    background-color: var(--white);
    width: 100%;
    height: 55px;
    padding: 0 20px;
}
.footer__form form input[type='submit']{
    background-color: var(--accent);
    padding: 17px 33px;
    height: 55px;
    color: var(--white);
}

.footer__links{
    margin-top: 120px;
}
.footer__links--logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer__links--logo img{
    margin-bottom: 20px;
}
.footer__links a, .footer__links p{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    text-wrap: wrap;
}
.footer__links a{
    width: max-content;
}
@media (max-width:990px) {
    .footer__links--logo{
        flex-direction: row;
        align-items: center;
        padding-right: 50px;
    }
}
@media (max-width:540px) {
    .footer h2{
        text-align: center;
    }
    .footer form{
        flex-direction: column;
    }
    .footer__contact{
        display: block;
    }  
    .footer__contact--item{
        width: 200px;
        font-size: 12px;
        margin: 0 auto 10px;
    }  
    .footer__links--logo img{
        max-width: 134px;
    }
    .footer__links--copy{
        font-size: 8px;
    }
    .footer__form{
        padding: 30px 10px;
    }
}

/*===Taxi===*/

.main-taxi{
    background: linear-gradient(0deg, rgba(21, 32, 53, 0.70) 0%, rgba(21, 32, 53, 0.70) 100%), url(../img/taxi-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-taxi__title{
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
}
.main-taxi__text{
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    margin-top: 40px;
}
.cars{
    color: var(--black);
}

.cars__item{
    text-align: center;
    padding: 40px;
    background-color: var(--black);
    border-radius: 10px;
    color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cars__item h4{
    margin-bottom: 44px;
}
.cars__item p{
    font-size: 20px;
    line-height: 130%;
}
.cars .btn-fill{
    padding: 16px 27px;
    margin-top: 23px;
    color: var(--white);
}
.cars__comfort{
    margin-bottom: 120px;
}
.cars__invest--item{
    position: relative;
    color: var(--white);
    padding: 60px 40px;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cars__invest--item::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(21, 32, 53, 0.7) 60%, rgba(21, 32, 53, 0.7) 100%);
}
.cars__invest--item h4,
.cars__invest--item p,
.cars__invest--item a{
    position: relative;
    z-index: 20;
}
.cars__invest--item p{
    font-size: 20px;
    margin-top: 17px;
}
.cars__invest{
    margin-bottom: 90px;
}
/*===Farm===*/

.main-farm{
    background: linear-gradient(0deg, rgba(21, 32, 53, 0.70) 0%, rgba(21, 32, 53, 0.70) 100%), url(../img/farm-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.farm{
    color: var(--black);
}
.farm__count--item{
    height: 100%;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 30px 5px 36px;
    text-align: center;
}
.farm__count--title{
    color: var(--accent);
    font-size: clamp(20px, 4.3vw, 50px);
    font-weight: 600;
    margin-bottom: 10px;
    text-wrap: nowrap;
}
.farm__count--text{
    color: var(--stroke);
    font-weight: 600;
}

.garden,
.livestock{
    padding: 0;
}
.garden{
    padding: 0 0 clamp(70px, 6.2vw, 120px);

}
.garden__item--img{
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.garden__item img{
    display: block;
    object-fit: cover;
    height: 260px;
    width: 100%;
}
.garden__item--img::after{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(17, 30, 49, 0.4) 0%, rgba(17, 30, 49, 0.40) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0.4s;
}
.garden__item:hover .garden__item--img::after{
    bottom: 100%;
}
.garden__item--title{
    font-size: 20px;
    font-weight: 700;
}
.livestock__item--img{
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.livestock__item--img img{
    display: block;
    object-fit: cover;
    height: 260px;
    width: 100%;
}
.livestock__item--img::after{
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(39, 54, 87, 0.00) 28.38%, rgba(39, 54, 87, 0.50) 91.17%), linear-gradient(0deg, rgba(39, 54, 87, 0.30) 0%, rgba(39, 54, 87, 0.30) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0.4s;
}
.livestock__item:hover .livestock__item--img::after{
    top: 100%;
}
.livestock__item--title{
    position: absolute;
    z-index: 200;
    bottom: 30px;
    left: 46px;
    font-size: clamp(16px, 1.72vw, 30px);
    font-weight: 600;
    color: var(--white);

}
.profit{
    margin-bottom: 120px;
}
.profit__wrapper{
    border-radius: 10px;
    padding: 60px 80px;
    text-align: center;
}

.main-farm>.container,
.main-taxi>.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}
.main-farm,
.main-taxi,
.main
{
padding: 0;
}

@media (max-width: 960px) {
    .main-farm,
    .main-taxi,
    .main
    {
        min-height: 650px;
    }
}
@media (max-width: 640px) {
    .main-farm,
    .main-taxi,
    .main
    {
        min-height: 700px;
    }
}
@media (max-width: 480px) {
    .main-farm,
    .main-taxi,
    .main
    {
        min-height: 500px;
    }
    .main__btns{
        flex-direction: column;
        bottom: 20px;
    }
}
@media (max-width: 340px) {
    .main-farm,
    .main-taxi,
    .main
    {
        min-height: 650px;
    }
}

.close-menu{
    display: none;
    cursor: pointer;
}
.close-menu.close-menu__open{
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 999;
}

ul.header__menu.open-menu{
    display: flex;
    flex-direction: column;
    visibility: visible;
    position: absolute;
    background: var(--black);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    z-index: 999;
}
ul.header__menu.open-menu li{
    margin-bottom: 20px;
    font-size: 20px;
}